{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>home</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>
  .foto_square{
    background-color: #ffffff;
    border-radius: 10px;
    height: 30%;
    width:85%;
    padding-left: 0px;
    text-align: left;
    padding-left: 5%;
  }

  .descripcion_foto{

  }
  </style>

</head>
<body  background= "{% static "imagenes/fondo.jpg" %}">
  <ul class="nav nav-pills">
    <li role="presentation" ID="topm"><a href="#"><i class="material-icons">home</i></a></li>
    <li role="presentation" ID="topm"><a href="#"><i class="material-icons">explore</i></a></li>
    <li role="presentation" ID="topm"><a href="#"><i class="material-icons">camera_enhance</i></a></li>
    <li role="presentation" ID="topm"><a href="#"><i class="material-icons">favorite</i></a></li>
    <li role="presentation" ID="topm"><a href="{% url 'perfil' %}"><i class="material-icons">account_circle</i></a></li>
  </ul>
<center>
  <div class="foto_square">
    <button> subir foto </button><br><br>
    <input class="decripcion_foto" placeholder="Descripción de la foto" size="120"></input>
  </div>
</center>
</body>
</html>
