{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>home</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>
  .foto_square{
    background-color: #ffffff;
    border-radius: 10px;
    height: 30%;
    width:85%;
    padding-left: 0px;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  </style>

</head>
<body  background= "{% static "imagenes/fondo.jpg" %}">
  <ul class="nav nav-pills">
    <li role="presentation" ID="topm"><a href="{% url 'home' %}"><i class="material-icons">home</i></a></li>
    <li role="presentation" ID="topm"><a href="#"><i class="material-icons">explore</i></a></li>
    <li role="presentation" ID="topm"><a href="#"><i class="material-icons">camera_enhance</i></a></li>
    <li role="presentation" ID="topm"><a href="#"><i class="material-icons">favorite</i></a></li>
    <li role="presentation" ID="topm"><a href="{% url 'perfil' %}"><i class="material-icons">account_circle</i></a></li>
  </ul>
<center>
  <form action='{% url 'upload' %}' method='POST' enctype="multipart/form-data">
    {% csrf_token %}
  <div class="foto_square">
    <input type="file" name="foto" size="20"onchange="loadFile(event)">
<img id="output"/>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>
    <br><br>
    <input class="decripcion_foto" name="description" placeholder="Descripción de la foto" size="40"></input><br><br>
    <button class = "btn btn-warning">subir foto</button><br><br><br><br>
  </div>
</form>
</center>

</body>
</html>
