{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>perfil</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/perfil.css" %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>
  #topm{
    width: 19%;
    text-align: center;
  }

  </style>
</head>
<body  background= "{% static "imagenes/fondo.jpg" %}">
  <ul class="nav nav-pills">
    <li role="presentation" ID="topm"><a href="{% url 'home' %}"><i class="material-icons">home</i></a></li>
    <li role="presentation" ID="topm"><a href="#"><i class="material-icons">explore</i></a></li>
    <li role="presentation" ID="topm"><a href="{% url 'subirfoto' %}"><i class="material-icons">camera_enhance</i></a></li>
    <li role="presentation" ID="topm"><a href="#"><i class="material-icons">favorite</i></a></li>
    <li role="presentation" ID="topm"><a href="#"><i class="material-icons">account_circle</i></a></li>
  </ul>

<center>
  <section class="profile">
            <section class="imagen">
                <picture><img style="height:50px;width:50px" src="{% static "imagenes/profile.png" %}"/></picture>
            </section>
            <section class="info">
                <section class="username">
                    <h1 class="title">{{ curr_user.username }}</h1>
                    <button class="btn">Editar perfil</button>
                    <a href="{% url 'salir' %}"<button class="btn dots">•••</button></a>
                </section>
                <section class="follow_Info">
                    <section class="follower_Info">
                        <p>{{ media_user|length }} publicaciones </p>
                    </section>
                    <section class="follower_Info">
                        <p>57 seguidores</p>
                    </section>
                    <section class="follower_Info">
                        <p>75 seguidos</p>
                    </section>
                </section>
                <section class="profile_details">
                    <section class="profile_name">
                        <p>{{ curr_user.name }}</p>
                    </section>
                   <section class="profile_description">
                    </section>
                </section>
            </section>
        </section>
  </center>
</div>
</body>
</html>
