#topm{
  width: 19%;
  text-align: center;
}

.barra{
  display: none;
}

.barra:hover{
  display: block;
}
.card{
  background-color: #FFFFFF;
  width: 30%;
  border: solid;
  border-width: thin;
  border-radius: 10px;
}

.card-text{
  background-color: #E6E6E6;
}

.card-title{
  text-align: center  ;
  padding-left: 5%;
}
.nombre{
  width: auto;

}
.historia{
  margin-top: 1%;
  width:40%;
  background-color: #d0d0e1;
}

.usuario{
  background-color: #FFFFFF;
  padding-left: 10px;
  text-align: left;
  width: 90%;

}

.hora{
  background-color: #FFFFFF;
  padding-right: 10px;
  text-align: left;
  width: auto;
}
