.Img1{
  height: 150px;
  width: auto;
  border-radius: 20%;
  margin-top: 5%;
}

#Img2{
  height: 150px;
  width: auto;
  border-radius: 50%;
  margin-top: 5%;
}
#Imagenes{
  border-style: double;
  width: 45%;
  float: left;
  text-align: center;

}
#Formulario{
  color: #2966a3;
  margin-top: 50%;
  border-style: none;
  width: 100%;
  text-align: center;
  float: right;
}
